.board {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    grid-column-gap: 0;
}

.board .tile {
    background-color: #eeeed2;
    color: #769656;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile:nth-child(-2n + 7),
.tile:nth-child(8) ~ .tile:nth-child(-2n + 16),
.tile:nth-child(15) ~ .tile:nth-child(-2n + 23),
.tile:nth-child(24) ~ .tile:nth-child(-2n+32), 
.tile:nth-child(32) ~ .tile:nth-child(-2n+39), 
.tile:nth-child(41) ~ .tile:nth-child(-2n+48), 
.tile:nth-child(48) ~ .tile:nth-child(-2n+55), 
.tile:nth-child(57) ~ .tile:nth-child(-2n+64) {
    background-color: #769656;
    color:#eeeed2;
}

.vertical-value {
    position: absolute;
    top:0;
    left: 5px;
}

.horizontal-value {
    position: absolute;
    bottom: 0;
    right: 5px;
}

.tile:nth-child(even) .horizontal-value {
    color:#eeeed2;
}

.tile:nth-child(odd) .horizontal-value {
    color:#769656;
}